<h3>Edit Stadium</h3>
<%= form_for @pitch do |f| %>
	<% if @pitch.errors.any? %>
		<% @pitch.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	<div class="form-group">
		<%= f.label :name %><br />
		<%= f.text_field :name, class:'form-control' %><br />
	</div>

	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%= link_to "Cancel", pitches_path, class:'btn btn-default' %>
<% end %>